h1{
  color: steelblue;
  text-align: center;
  margin-top: 30px;
}

div{
  background: lightgray;
  width: 100%;
  height: 100%;
  align-content: center;
}

#posts{
  background: whitesmoke;
  width: 75%;
  height: 70%;
  margin:30px auto;
  outline: 1px solid #000;
}

nav a{
  font-size: 30pt;
  background: ;
}
